
<h2>{{userTitle}}</h2>

<div class="example-config">
  <p>User ID: 842018</p>
  <p>User Name: Naseer</p>
  <p>Checked keys: {{this.checkedKeys.join(",")}}</p>
</div>

<kendo-treeview #tree1
            [nodes]="data"
            [children]="children"
            [hasChildren]="hasChildren"
            textField="text"
            

            [kendoTreeViewCheckable]="checkableSettings"
            [checkBy]="'text'"
            [(checkedKeys)]="checkedKeys"
            (checkedChange)="handleChecking($event)"
            kendoTreeViewExpandable
            [(expandedKeys)]="expandedKeys">
        </kendo-treeview>

        <!-- [isChecked]="isChecked" -->
        <button kendoButton (click)="saveData()" [primary]="true">Save</button>